body{
    background-color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

ul{ 
    list-style-type: none;
    font-size: 18px;
    color: white;
}
.list1{
    background-image: url(./images/Meat.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 22px;
    font-weight: bolder;
}
.list2{
    display: flex;
    gap: 8px;
    margin-right: 32px; 
}
a{
    color: antiquewhite;
    text-decoration: none;
}


img{
 width: 300px;
 height: 300px;

}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #1F2937;  
    padding: 28px;
}
h1{
    font-size: 48px;
    color: white;
}
p{
    font-size: 18px;
    color: white;
}

button{
background-color: #0d49aa;
color: white;
border-style: none;
border-radius: 8px;
padding: 8px;
}
.section2{
    display: flex;
    flex-direction: column;
}

.content2info{
    font-size: 28px;
    color: black;
    padding: 18px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .boxes{
        display: flex;
        flex-direction: column;
    }
    .boxwidth{
        max-width: 300px ;
        margin: 20px;
    }
  }
.boxwidth{
    max-width: 300px ;
}

div .boxwidth a{
    color: black;
    font-size: 21px;
}

.section3{
    background-color: #babdc0; 
    margin-top: 12px; 
    color: aliceblue;
}
blockquote{
    font-size: 18px;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.section4{
    color: white;
    padding: 50px;
    margin: 18px;
    display: flex;
    justify-content: center;
    
}
.sectioncard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background-color: #0d49aa;
    padding: 30px ;
    width: 500px ;
}

div .sectioncard button{
border: 2px solid white;
border-radius: 8px;
}

Footer{
    background-color: #1F2937;  
}

.footertext{
    font-size: 18px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

